@import 'variables.scss';
@import 'mixins/*.scss';

@import 'global.scss';

.wrapper {

}

/* Основные стили */

// @include _sm {
// 	body.lock{
// 		overflow: hidden;
//   }
// }

.container{
	max-width: 1000px;
	margin: 0px auto;
	padding: 0px 10px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 2;
  }
  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin: 0 20px;
  }
  &__logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
    img{
      max-width: 100%;
      display: block;
    }
  }
  
  &__burger {
    display: none;
  }
  // &__menu {}
  
  &__list {
    display: flex;
    position: relative;
    z-index: 2;
    li{
      list-style: none;
      margin-right: 20px;
    }
  }
  &__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
  }

  @include _sm{
    &__body {
      height: 50px;
    }
    &__logo {
      flex: 0 0 40px;
    }
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 21px;
      position: relative;
      z-index: 3;
      span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      &:before,
      &:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:before{
        top: 0px;
      }
      &:after{
        bottom: 0;
      }
      &.active span{
        transform: scale(0);
      }
      &.active:before{
        transform:rotate(45deg);
        top: 9px;
      }
      &.active:after{
        transform:rotate(-45deg);
        bottom: 9px;
      }
    }
  
    &__menu {
      position: fixed;
      top: 0;
      right: -200px;
      // width: 50%;
      min-width: 200px;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: #18b5a4;
      padding: 70px 10px 20px 10px;
      // border-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 1px solid #ccc;
      &.active{
        right: 0;
      }
    }
    &__list {
      display: block;
      text-align: right;
      li{
        margin-top: 20px;
      }
    }
    &__link {
      font-size: 20px;
    }
  }  
}

.content {
  padding-top: 100px;
  @include _sm {
    padding-top: 70px;
  }
  &__text {
    font-size: 18px;
    line-height: 25px;
    text-indent: 100px;
    p {
      margin-bottom: 20px;
    }
  }
}
